:root {
  --vol-value: 20%;
}

* {
  user-select: none;
}

body {
  margin: 0;
  background: url("./img/gif/bacground.gif") no-repeat;
  background-size: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#vol-box {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: black;
}

#vol-text {
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  color: white;
  font-size: 45px;
  text-align: center;
}

.vol-current {
  position: absolute;
  width: 100vw;
  height: var(--vol-value);
  bottom: 0;
  background: #00ffb4;
}

#time-left {
  height: 0;
  font-size: 42px;
  position: relative;
  z-index: 2;
  text-align: center;
  cursor: pointer;
  color: #afafaf;
  font-family: "Share Tech Mono", sans-serif;
  transition: 0.3s;
}

#time-left:hover {
  color: white;
}

#message {
  background: black;
  z-index: 3;
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0;
  left: 0;
}

.off {
  display: none;
}

.info {
  color: white;
  font: 1em / 1 sans-serif;
  text-align: center;
}

.info a {
  color: white;
}

svg {
  width: fit-content;
  height: 120px;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: black;
  margin-top: 40vh;
}

input {
  text-align: center;
  border: none;
  background: transparent;
  outline: none;
  color: #afafaf;
  font-weight: 600;
  font-size: 18px;
  border-bottom: 1px solid #4e4e4e;
  transition: 0.3s;
}

#hint-time {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
}

input:focus-within {
  border-bottom: 1px solid #00ffb4;
  color: white;
}

.input-form:focus-within #hint-time {
  opacity: 1;
  color: #afafaf;
}

.input-form {
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.buttons-div {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  justify-content: space-between;
}

.buttons {
  text-decoration: none;
  cursor: pointer;
  color: #00ffb4;
}

.glitch-btn {
  margin: 30px;
  margin-left: 50px;
  width: fit-content;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 18px;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  color: #afafaf;
}

@media (max-width: 750px) {
  body {
    background-position-y: calc(-30vw * 1.5);
    background-position-x: -200vw;
    background-size: 500%;
  }
  .input-form {
    margin: auto;
    margin-bottom: 40px;
  }
  .glitch-btn:nth-child(1) {
    margin-left: 130px;
  }
  .glitch-btn {
    margin-left: 110px;
  }
}

@media (max-height: 500px) {
  body {
    background-position-y: calc(-50vw * 2);
  }
}

.glitch-btn .mask {
  position: absolute;
  width: 100%;
  overflow: hidden;
  display: none;
}

.glitch-btn .mask span {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  top: -100%;
}

.glitch-btn:hover {
  color: #4e4e4e;
}

.glitch-btn:hover:before {
  background: #00ffb4;
  transform: translateX(120%) scaleX(3) scaleY(0.8);
}

.glitch-btn:before {
  content: "";
  position: absolute;
  left: -15%;
  top: -50%;
  background: #4e4e4e8f;
  width: 40%;
  height: 200%;
  padding: 0px;
  z-index: -1;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.glitch-btn:after {
  content: "";
  position: absolute;
  left: -5%;
  top: 105%;
  background: #00ffb4;
  width: 112%;
  height: 10%;
  padding: 0px;
  z-index: -1;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.glitch-btn:hover:after {
  background: #4e4e4e;
  transform: translateX(-55%) translateY(-600%) rotate(90deg) scaleX(0.3);
}

.glitch-btn .mask1 {
  height: 20%;
  top: 19%;
}

.glitch-btn .mask2 {
  height: 30%;
  top: 35%;
}

.glitch-btn .mask3 {
  height: 57%;
  top: 63%;
}

.hidden {
  opacity: 0;
}

.glitch-btn:hover .mask1 {
  animation: glitchin1 0.2s 0.3s both;
}

.glitch-btn:hover .mask2 {
  animation: glitchin2 0.2s 0.2s both;
}

.glitch-btn:hover .mask3 {
  animation: glitchin1 0.2s 0.2s both;
}

.glitch-btn:hover .hidden {
  animation: fade-in 0.1s 0.2s forwards;
}

.glitch-btn:hover .text {
  animation: fade-in 0.1s 0.2s forwards;
}

.glitch-btn:hover .mask {
  display: block;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes glitchin1 {
  100% {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate(0.5px, 0.05px);
    transform: translate(0.5px, 0.05px);
  }
  90% {
    -webkit-transform: translate(0.6px, -0.3px);
    transform: translate(0.6px, -0.3px);
  }
  85% {
    -webkit-transform: translate(1.2px, 0px);
    transform: translate(1.2px, 0px);
  }
  80% {
    -webkit-transform: translate(1.2px, 0.2px);
    transform: translate(1.2px, 0.2px);
  }
  75% {
    -webkit-transform: translate(0.5px, 1px);
    transform: translate(0.5px, 1px);
  }
  70% {
    -webkit-transform: translate(0.3px, 1.2px);
    transform: translate(0.3px, 1.2px);
  }
  65% {
    -webkit-transform: translate(-2.1px, 0.7px);
    transform: translate(-2.1px, 0.7px);
  }
  60% {
    -webkit-transform: translate(3.6px, 0.4px);
    transform: translate(3.6px, 0.4px);
  }
  55% {
    -webkit-transform: translate(0.45px, 1.8px);
    transform: translate(0.45px, 1.8px);
  }
  50% {
    -webkit-transform: translate(-3px, -1px);
    transform: translate(-3px, -1px);
  }
  45% {
    -webkit-transform: translate(-4.4px, 1.1px);
    transform: translate(-4.4px, 1.1px);
  }
  40% {
    -webkit-transform: translate(-4.2px, 2.4px);
    transform: translate(-4.2px, 2.4px);
  }
  35% {
    -webkit-transform: translate(2.6px, 1.3px);
    transform: translate(2.6px, 1.3px);
  }
  30% {
    -webkit-transform: translate(-1.4px, 2.8px);
    transform: translate(-1.4px, 2.8px);
  }
  25% {
    -webkit-transform: translate(6px, 0.75px);
    transform: translate(6px, 0.75px);
  }
  20% {
    -webkit-transform: translate(0px, -1.6px);
    transform: translate(0px, -1.6px);
  }
  15% {
    -webkit-transform: translate(-5.95px, -0.85px);
    transform: translate(-5.95px, -0.85px);
  }
  10% {
    -webkit-transform: translate(3.6px, 3.6px);
    transform: translate(3.6px, 3.6px);
  }
  5% {
    -webkit-transform: translate(-0.95px, -0.95px);
    transform: translate(-0.95px, -0.95px);
  }
  1% {
    opacity: 1;
  }
}
@keyframes glitchin1 {
  100% {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate(0.5px, 0.05px);
    transform: translate(0.5px, 0.05px);
  }
  90% {
    -webkit-transform: translate(0.6px, -0.3px);
    transform: translate(0.6px, -0.3px);
  }
  85% {
    -webkit-transform: translate(1.2px, 0px);
    transform: translate(1.2px, 0px);
  }
  80% {
    -webkit-transform: translate(1.2px, 0.2px);
    transform: translate(1.2px, 0.2px);
  }
  75% {
    -webkit-transform: translate(0.5px, 1px);
    transform: translate(0.5px, 1px);
  }
  70% {
    -webkit-transform: translate(0.3px, 1.2px);
    transform: translate(0.3px, 1.2px);
  }
  65% {
    -webkit-transform: translate(-2.1px, 0.7px);
    transform: translate(-2.1px, 0.7px);
  }
  60% {
    -webkit-transform: translate(3.6px, 0.4px);
    transform: translate(3.6px, 0.4px);
  }
  55% {
    -webkit-transform: translate(0.45px, 1.8px);
    transform: translate(0.45px, 1.8px);
  }
  50% {
    -webkit-transform: translate(-3px, -1px);
    transform: translate(-3px, -1px);
  }
  45% {
    -webkit-transform: translate(-4.4px, 1.1px);
    transform: translate(-4.4px, 1.1px);
  }
  40% {
    -webkit-transform: translate(-4.2px, 2.4px);
    transform: translate(-4.2px, 2.4px);
  }
  35% {
    -webkit-transform: translate(2.6px, 1.3px);
    transform: translate(2.6px, 1.3px);
  }
  30% {
    -webkit-transform: translate(-1.4px, 2.8px);
    transform: translate(-1.4px, 2.8px);
  }
  25% {
    -webkit-transform: translate(6px, 0.75px);
    transform: translate(6px, 0.75px);
  }
  20% {
    -webkit-transform: translate(0px, -1.6px);
    transform: translate(0px, -1.6px);
  }
  15% {
    -webkit-transform: translate(-5.95px, -0.85px);
    transform: translate(-5.95px, -0.85px);
  }
  10% {
    -webkit-transform: translate(3.6px, 3.6px);
    transform: translate(3.6px, 3.6px);
  }
  5% {
    -webkit-transform: translate(-0.95px, -0.95px);
    transform: translate(-0.95px, -0.95px);
  }
  1% {
    opacity: 1;
  }
}
@-webkit-keyframes glitchin2 {
  100% {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate(-0.5px, -0.05px);
    transform: translate(-0.5px, -0.05px);
  }
  90% {
    -webkit-transform: translate(-0.6px, 0.3px);
    transform: translate(-0.6px, 0.3px);
  }
  85% {
    -webkit-transform: translate(-1.2px, 0px);
    transform: translate(-1.2px, 0px);
  }
  80% {
    -webkit-transform: translate(-1.2px, -0.2px);
    transform: translate(-1.2px, -0.2px);
  }
  75% {
    -webkit-transform: translate(-0.5px, -1px);
    transform: translate(-0.5px, -1px);
  }
  70% {
    -webkit-transform: translate(-0.3px, -1.2px);
    transform: translate(-0.3px, -1.2px);
  }
  65% {
    -webkit-transform: translate(2.1px, -0.7px);
    transform: translate(2.1px, -0.7px);
  }
  60% {
    -webkit-transform: translate(-3.6px, -0.4px);
    transform: translate(-3.6px, -0.4px);
  }
  55% {
    -webkit-transform: translate(-0.45px, -1.8px);
    transform: translate(-0.45px, -1.8px);
  }
  50% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  45% {
    -webkit-transform: translate(4.4px, -1.1px);
    transform: translate(4.4px, -1.1px);
  }
  40% {
    -webkit-transform: translate(4.2px, -2.4px);
    transform: translate(4.2px, -2.4px);
  }
  35% {
    -webkit-transform: translate(-2.6px, -1.3px);
    transform: translate(-2.6px, -1.3px);
  }
  30% {
    -webkit-transform: translate(1.4px, -2.8px);
    transform: translate(1.4px, -2.8px);
  }
  25% {
    -webkit-transform: translate(-6px, -0.75px);
    transform: translate(-6px, -0.75px);
  }
  20% {
    -webkit-transform: translate(0px, 1.6px);
    transform: translate(0px, 1.6px);
  }
  15% {
    -webkit-transform: translate(5.95px, 0.85px);
    transform: translate(5.95px, 0.85px);
  }
  10% {
    -webkit-transform: translate(-3.6px, -3.6px);
    transform: translate(-3.6px, -3.6px);
  }
  5% {
    -webkit-transform: translate(0.95px, 0.95px);
    transform: translate(0.95px, 0.95px);
  }
  1% {
    opacity: 1;
  }
}
@keyframes glitchin2 {
  100% {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate(-0.5px, -0.05px);
    transform: translate(-0.5px, -0.05px);
  }
  90% {
    -webkit-transform: translate(-0.6px, 0.3px);
    transform: translate(-0.6px, 0.3px);
  }
  85% {
    -webkit-transform: translate(-1.2px, 0px);
    transform: translate(-1.2px, 0px);
  }
  80% {
    -webkit-transform: translate(-1.2px, -0.2px);
    transform: translate(-1.2px, -0.2px);
  }
  75% {
    -webkit-transform: translate(-0.5px, -1px);
    transform: translate(-0.5px, -1px);
  }
  70% {
    -webkit-transform: translate(-0.3px, -1.2px);
    transform: translate(-0.3px, -1.2px);
  }
  65% {
    -webkit-transform: translate(2.1px, -0.7px);
    transform: translate(2.1px, -0.7px);
  }
  60% {
    -webkit-transform: translate(-3.6px, -0.4px);
    transform: translate(-3.6px, -0.4px);
  }
  55% {
    -webkit-transform: translate(-0.45px, -1.8px);
    transform: translate(-0.45px, -1.8px);
  }
  50% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  45% {
    -webkit-transform: translate(4.4px, -1.1px);
    transform: translate(4.4px, -1.1px);
  }
  40% {
    -webkit-transform: translate(4.2px, -2.4px);
    transform: translate(4.2px, -2.4px);
  }
  35% {
    -webkit-transform: translate(-2.6px, -1.3px);
    transform: translate(-2.6px, -1.3px);
  }
  30% {
    -webkit-transform: translate(1.4px, -2.8px);
    transform: translate(1.4px, -2.8px);
  }
  25% {
    -webkit-transform: translate(-6px, -0.75px);
    transform: translate(-6px, -0.75px);
  }
  20% {
    -webkit-transform: translate(0px, 1.6px);
    transform: translate(0px, 1.6px);
  }
  15% {
    -webkit-transform: translate(5.95px, 0.85px);
    transform: translate(5.95px, 0.85px);
  }
  10% {
    -webkit-transform: translate(-3.6px, -3.6px);
    transform: translate(-3.6px, -3.6px);
  }
  5% {
    -webkit-transform: translate(0.95px, 0.95px);
    transform: translate(0.95px, 0.95px);
  }
  1% {
    opacity: 1;
  }
}
